input, button{
    width: 100%;
    border: 1px solid red;
    margin: 5px 0;
    
}
button{
    color: red;

}
.delete-btn{
display: inline;
border: 2px solid black;
margin: 0 !important;
padding: 0 !important;
font-size: 10px;
transform: translateY(-5px);

}
#form{
    margin-top: 100px;
    transform: translateX(25%);
    
    
}
.form-list{
    transform: translateX(25%);
 .id, .name, .surname, .salary{
    color: red;
    
 }
 .add{    
    margin: 10px 0;
    
 }
}
