input, button{
    width: 100%;
    border: 1px solid red;
    margin: 5px 0;
    
}
button{
    color: red;

}
#form{
    margin-top: 100px;
    transform: translateX(25%);
    
    
}
.form-list{
    transform: translateX(25%);
 .id, .name, .surname, .salary{
    color: red;
    
 }
 .add{
    color: blue;
    
 }
}
